{
  "extends": "airbnb-base",
  "rules": {
    "no-control-regex": 0,
    "no-console": [
      "error",
      {
        "allow": [
          "log"
        ]
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}
